@page "/"

<h1>Welcome to Fish Risk Tree</h1>

<h3>About</h3>

<p>
Fish Risk Tree is a tool for generating and visualizing phylogenetic trees of fish genes annotated with conservation risk status.
</p>

<p>
The aim of this software is to allow for easy visualziations and exploration of conservation risk for molecular markers in fish species.
</p>

<p>
    Are we at risk of losing major branches of diversity for a particular sequence?
</p>

<h3>Getting Started</h3>

<p>To get started visit the <a target="_blank" class="font-weight-bold link-dark" href="submission">new analysis page.</a>
To see the results visit the <a target="_blank" class="font-weight-bold link-dark" href="submission">access results page.</a>
</p>

@if (Constants.DEMO_MODE)
{
  <div class="alert alert-secondary mt-4">
    <span class="oi oi-warning" aria-hidden="true"></span>
    <strong>This instance is for demonstration purposes only</strong>

    <p>
    This instance is a proof of concept demonstration and is limited to 1 analysis at a time. Please run the associated cli tool locally for larger analyses.
    </p>

    <p>
    For more information please visit the <a target="_blank" class="font-weight-bold link-dark" href="@Constants.GITHUB_LINK">GitHub page.</a>
    </p>

</div>  
} 